.content-grid {
    --padding-inline: 1.5rem;
    --content-max-width: 90vw;
    --breakout-max-width: 95vw;
  
    /* Breakout sizes for multiple indentation levels */
    --breakout-size1: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 4
    );
    --breakout-size2: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 3
    );
    --breakout-size3: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );
    --breakout-size4: calc(
      (var(--breakout-max-width) - var(--content-max-width))
    );
  
    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start1] minmax(0, var(--breakout-size1))
      [breakout-start2] minmax(0, var(--breakout-size2))
      [breakout-start3] minmax(0, var(--breakout-size3))
      [breakout-start4] minmax(0, var(--breakout-size4))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size4)) [breakout-end4]
      minmax(0, var(--breakout-size3)) [breakout-end3]
      minmax(0, var(--breakout-size2)) [breakout-end2]
      minmax(0, var(--breakout-size1)) [breakout-end1]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  
    /* Based on https://ryanmulligan.dev/blog/layout-breakouts/  */
    @media #{$w1024-up} {
      --padding-inline: 2.5rem;
      --content-max-width: 80vw;
      --breakout-max-width: 95vw;
    }
    @media #{$w2048-up} {
      --padding-inline: 3.5rem;
      --content-max-width: 75vw;
      --breakout-max-width: 90vw;
    }
  }
  
  .content-grid > :not(.breakout, .full-width),
  .full-width-content > :not(.breakout, .full-width-content) {
    grid-column: content;
  }
  
  .full-width {
    grid-column: full-width;
  }
  
  .content-grid > .breakout1 {
    grid-column: breakout-start1 / breakout-end1;
  }
  
  .content-grid > .breakout2 {
    grid-column: breakout-start2 / breakout-end2;
  }
  
  .content-grid > .breakout3 {
    grid-column: breakout-start3 / breakout-end3;
  }
  
  .content-grid > .breakout4 {
    grid-column: breakout-start4 / breakout-end4;
  }
  
  .content-grid > .full-width-content {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
  }
  