@import "typography";
@import "colors";
$phone: 768px;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //outline: 1px solid rgba(255, 196, 255, 0.51);
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  min-height: 200dvh;
  overflow-x: hidden;
}

.headroom {
  will-change: all;
  transition: all 200ms linear;

  &--pinned {
    transform: translateY(0%);
  }

  &--not-top {
    transform: translateY(0%);
    top: 0;
    //background: var(--color-bg);
    background-color: rgba(255, 255, 255, 1);

  }

  &--unpinned {
    transform: translateY(-100%);
  }
}






.nav__item:not(#themeSwitch){
  display: grid;
  align-content: center;
  position: relative;
  transition: opacity 0.3s ease-in-out;

  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-text);
    transition: width 0.3s ease-in-out;
  }
  &:hover{
    opacity: 0.6;

  }
  &:hover::before{
    width: 100%;
  }
}




.center-screen {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}


.text-animation-1 {
  overflow: hidden;
  position: relative;

  .line-group-text-1 {
    position: relative;
    overflow: hidden;

    .line-container-text-1 {
      position: relative;
      display: inline-block;
      white-space: nowrap;
    }

    .text-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
  }
}
