$w768-up: "print, screen and (min-width: 768px)"; // Standard tablet portrait
$w1024-up: "print, screen and (min-width: 1024px)"; // Standard tablet landscape
$w1280-up: "print, screen and (min-width: 1280px)"; // Larger tablets or small laptops
$w1920-up: "print, screen and (min-width: 1900px)";
$w2048-up: "print, screen and (min-width: 2030px)"; // 2K QHD
$w2560-up: "print, screen and (min-width: 2500px)"; // 2.5K QHD
$w3840-up: "print, screen and (min-width: 3800px)"; // 4K UHD

:root {
  font-size: 16px;
  --font-family-regular: "Arial Nova", sans-serif;
  --font-family-bold: "Arial Nova", sans-serif;
  --font-family-display: "Shadows Into Light", cursive;

  --transition: 0.3s all ease-out;




  --color-primary: #B76246;
  --color-primary-light: #D0835F;
  --color-primary-dark: #A65339;
  
  --color-secondary: #3E5777;
  --color-secondary-dark: #262222;
  
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #F9F5F2;
  --color-neutral-300: #F7EEE6;
  --color-neutral-400: #E6E4DF;
  --color-neutral-500: #D9D9D9;
  --color-neutral-600: #363434;
}

