$w768-up: "print, screen and (min-width: 768px)"; // Standard tablet portrait
$w1024-up: "print, screen and (min-width: 1024px)"; // Standard tablet landscape
$w1280-up: "print, screen and (min-width: 1280px)"; // Larger tablets or small laptops
$w1920-up: "print, screen and (min-width: 1900px)";
$w2048-up: "print, screen and (min-width: 2030px)"; // 2K QHD
$w2560-up: "print, screen and (min-width: 2500px)"; // 2.5K QHD
$w3840-up: "print, screen and (min-width: 3800px)"; // 4K UHD

:root {
  font-size: 16px;
  --font-family-regular: "Arial Nova", sans-serif;
  --font-family-bold: "Arial Nova", sans-serif;
  --font-family-display: "Shadows Into Light", cursive;

  --transition: 0.3s all ease-out;

  --color-primary: #b76246;
  --color-primary-light: #d0835f;
  --color-primary-dark: #a65339;

  --color-secondary: #3e5777;
  --color-secondary-dark: #262222;

  --color-neutral-100: #ffffff;
  --color-neutral-200: #f9f5f2;
  --color-neutral-300: #f7eee6;
  --color-neutral-400: #e6e4df;
  --color-neutral-500: #d9d9d9;
  --color-neutral-600: #363434;
}
