.nav-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  align-items: center;

  // Mobile styles
  &.mobile {
    align-content: start;
    grid-auto-flow: row;
    gap: 0.5rem;

    .nav-menu__item {
      padding: 0;

      &-submenu {
        position: relative;
        top: 0;
        display: grid;
        padding-left: 1rem;
        background: transparent;
        will-change: height, opacity;

        transition: none;
        transform: none;
      }
    }

    .nav-menu__link {
      width: 100%;
      font-size: 1.25rem;
      padding: 0.5rem 0;
      border-bottom: 0.175rem solid;
      border-image: linear-gradient(to right, #b76246, #d0835f, #a04225) 1;
    }

    .dropdown-arrow {
      transform-origin: center;
      will-change: transform;
    }
  }

  // Desktop styles
  &__item {
    padding: 1rem 0;
    position: relative;

    &-submenu {
      padding: 0.5rem 1rem;
      position: absolute;
      display: grid;
      top: 120%;
      left: 0;
      min-width: 200px;
      background: var(--color-neutral-100);
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: all 0.3s ease;

      > * {
        padding: 0.5rem 0;
      }

      > :not(:last-child) {
        border-bottom: 0.175rem solid;
        border-image: linear-gradient(to right, #b76246, #d0835f, #a04225) 1;
      }
    }

    // Desktop hover animation
    &:hover:not(.mobile *) {
      .nav-menu__item-submenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--text-sm);
    font-weight: 500;
    color: var(--color-secondary);
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-primary);
    }
    &--active {
      color: var(--color-primary);
    }

    &--has-children {
      .dropdown-arrow {
        width: 0.8em;
        height: 0.8em;

        cursor: pointer;
        transform-origin: center;
      }
    }
  }
}
